docs/validaciones_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.sony.com/sonyservice/validaciones" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.sony.com/sonyservice/validaciones" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sony.com/sonyservice/validaciones">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.sony.com/sonyservice/validaciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="OrderQuouteElementRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="orderId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrderQuouteElementResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="result" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="OrderQuouteElementResponse">
    <wsdl:part element="tns:OrderQuouteElementResponse" name="OrderQuouteElementResponse"/>
  </wsdl:message>
  <wsdl:message name="OrderQuouteElementRequest">
    <wsdl:part element="tns:OrderQuouteElementRequest" name="OrderQuouteElementRequest"/>
  </wsdl:message>
  <wsdl:portType name="ValidacionPort">
    <wsdl:operation name="OrderQuouteElement">
      <wsdl:input message="tns:OrderQuouteElementRequest" name="OrderQuouteElementRequest"/>
      <wsdl:output message="tns:OrderQuouteElementResponse" name="OrderQuouteElementResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidacionPortSoap11" type="tns:ValidacionPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OrderQuouteElement">
      <soap:operation soapAction=""/>
      <wsdl:input name="OrderQuouteElementRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OrderQuouteElementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidacionPortService">
    <wsdl:port binding="tns:ValidacionPortSoap11" name="ValidacionPortSoap11">
      <soap:address location="http://localhost:8089/ws/validaciones"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>